*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  font: inherit;
}

ul, ol {
  list-style: none;
}

.container {
  width: min(90%, 75em);
  margin-inline: 2em;
}