:root {
--pri-green: hsl(97, 29%, 42%);
--pri-orange: hsl(38, 96%, 51%);
--light-gray: hsl(0, 0%, 95%);
--med-gray: hsl(0, 0%, 50%);
--dark-gray: hsl(0, 0%, 7%);
--white: #fff;
--black: #000;
--ff-open-sans: 'Open Sans', sans-serif;
--ff-maven-pro: 'Maven Pro', sans-serif;
--transition-3s: all .3s ease-in-out;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--ff-open-sans);
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  font: inherit;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.container {
  width: min(90%, 75em);
  margin-inline: auto;
}

/* 
  UTIL CLASSES
*/
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.btn {
  background-color: var(--pri-orange);
  color: var(--white);
  width: max-content;
  padding-block: 1.25em;
  padding-inline: 2.25em;
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.btn-white:hover {
  background-color: var(--white);
  color: var(--pri-green);
  transition: var(--transition-3s);
}

.btn-link {
  color: var(--white);
  width: max-content;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-bottom: 2px solid var(--white);
  transition: var(--transition-3s);
}

.btn-link:hover {
  letter-spacing: 2px;
}

/* 
  HEADER 
*/
.header {
  padding-block: 0.625em;
}

.header .flex {
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--pri-green);
  font-size: 1.5em;
}

.menu-icon {  
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
}


/* 
  HERO
*/
.hero {
  background-color: var(--pri-green);
  color: var(--white);
}

.hero__info {
  gap: 1.875em;
  padding-top: 5em;
  padding-bottom: 2.25em;
}

.hero__info h1 {
  font-size: 3rem;
  font-family: var(--ff-maven-pro);
  font-weight: 800;
  line-height: 1.3;
}

.hero__info p {
  line-height: 1.6;
  font-style: italic;
  font-size: 1.25rem;
}

.hero__img {
  min-height: 400px;
  background-image: url(img/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/*
  características 
*/
.caract {
  flex-direction: column;
}

.caract__img img {
  object-fit: cover;
  height: 400px;
  object-position: 13.58% 100%;
}

.caract__cards {
  margin-top: -160px;
  display: grid;
  gap: 1.25em;
}

.card {
  background: var(--pri-orange);
  color: var(--white);
  text-align: center;
  padding-block: 1.875em;
  padding-inline: 1.25em;
  display: grid;
  gap: 1.25em;
  place-items: center;
}

.card.green {
  background-color: var(--pri-green);
}

.card h2 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 900;
  font-family: var(--ff-maven-pro);
}

.card h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.card p {
  line-height: 2;
}